@import "tailwindcss";
@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  /* Reset only specific elements */
  body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
}


   
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}

.scrollBar::-webkit-scrollbar {
  width:7px;         /* scrollbar thickness */
  height: 2px;        /* for horizontal */
}

/* Track */
.scrollBar::-webkit-scrollbar-track {
  background: transparent; /* keeps it clean */
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb  {
  background: rgba(255, 255, 255, 0.4); /* grayish white */
  border-radius: 8px;
  
}
.scrollBar::-webkit-scrollbar-thumb:hover {
   cursor: pointer;
}
/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}


.scrollBar::-webkit-scrollbar {
  width:7px;         /* scrollbar thickness */
  height: 7px;        /* for horizontal */
}

/* Track */
.scrollBar::-webkit-scrollbar-track {
  background: transparent; /* keeps it clean */
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb  {
  background: rgba(255, 255, 255, 0.4); /* grayish white */
  border-radius: 8px;
  
}
.scrollBar::-webkit-scrollbar-thumb:hover {
   cursor: pointer;
}
/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
