# Redirect all HTTP to HTTPS
server {
    listen 80;
    listen [::]:80;
    server_name api.chatt.services web.chatt.services ws.chatt.services chatt.services;
    return 301 https://$host$request_uri;
}

# API Server
server {
    listen 443 ssl http2;
    server_name api.chatt.services;

    ssl_certificate     /etc/letsencrypt/live/chatt.services/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/chatt.services/privkey.pem;

    location / {
        proxy_pass  http://api.chatt.services:3001; # http-server container
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Web App (Frontend)
server {
    listen 443 ssl http2;
    server_name web.chatt.services;

    ssl_certificate     /etc/letsencrypt/live/chatt.services/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/chatt.services/privkey.pem;

    location / {
        proxy_pass http://web.chatt.services:3000;   # web container
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "keep-alive";
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# WebSocket Server
server {
    listen 443 ssl http2;
    server_name ws.chatt.services;

    ssl_certificate     /etc/letsencrypt/live/chatt.services/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/chatt.services/privkey.pem;

    location / {
        proxy_pass http://ws.chatt.services:8080;   # ws-server container
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
